/*===================
 * General Styles
=====================*/

body {
    background-color: #eee;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #A0A0A0;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 12px;
    border: 4px solid rgba(255,255,255,0);
    background-clip: content-box;
    background-color: #A0A0A0;
}

::-webkit-scrollbar-corner {
    background-color: #e6e6e6;
}

/*===============
 * Navigation
=================*/

#navigation {
    border-radius: 0px;
}

#navigation .header.item {
    font-size: 18px;
}

#navigation a {
    font-size: 18px;
    float: right!important;
}

/*==================
 * Episodes Page
====================*/

#episodeHeader {
    margin: 75px;
}

#episodeList {
    padding-bottom: 100px;
}

/*===============
 * About Page
=================*/

#aboutText p {
    font-size: 18px;
}

/*================
 * Splash Text
==================*/

h1#mainText, div#viewSeason {
    text-align: center;
}

h1#mainText {
    font-family: 'Open Sans', sans-serif;
    font-size: 72px;
    font-weight: 300;
    color: #fff;
}

div#splashText {
    max-width: 650px;
    max-height: 234px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*================================
 * Full Page Background Video
==================================*/

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/bg.png');
        background-size: cover;
    }

    .fullscreen-video {
        display: none;
    }
}